{
  "extends": [
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "vue/no-unused-components": "warn",
    "no-constant-condition": "warn",
    "vue/prop-name-casing": ["warn", "camelCase"],
    "semi": [
      "warn",
      "always"
    ]
  }
}